.banner { 
    font-size: 28px !important;
    font-family: 'Roboto Slab', serif;
    color: #763626; 
}

mark { 
    background-color: #ecf7fc !important; 
    text-decoration: underline;
}

.hero h1 { 
  position: relative;
  color: #c79970;  
  font-size: 30pt;
  line-height: 0.9;
  text-align: center;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}