.hero { 
    margin: 0px ; 
    padding: 0px !important; 
    background-color:transparent !important;
    margin-bottom: 20px !important; 
  }

.bar { 
  background-color: #ecf7fc !important; 
}

.bar a { 
  font-weight: bold;
}

.h3 { 
  font-size: 24px; 
  text-align: center; 
  text-transform: uppercase;
}