@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Mulish&family=Roboto+Slab&display=swap');

body { 
  font-family: 'Mulish', sans-serif !important; 
  font-size: 20px; 
}

h1 { 
    font-size: 30px; 
    font-family: 'Roboto Slab', sans-serif;
}

h2 { 
  font-size: 28px; 
  font-family: 'Roboto Slab', sans-serif;
}
h3 { 
  font-size: 24px; 
  font-family: 'Roboto Slab', sans-serif;
}
h4 { 
  font-size: 20px; 
  font-family: 'Roboto Slab', sans-serif;
}
h5 { 
  font-size: 18px; 
  font-family: 'Roboto Slab', sans-serif;
}